<h1>Update user</h1>
<form action="/update" method="POST">
  ID: <input type="text" name="id" value="<%= mons.id%>" /> <br />
  Ma Mon Hoc:
  <input type="String" name="maMonHoc" value="<%= mons.maMonHoc%>" /><br />
  Ten Mon Hoc:
  <input type="String" name="tenMonHoc" value="<%= mons.tenMonHoc%>" /><br />
  Mo Ta:
  <input type="String" name="moTa" value="<%= mons.moTa%>" /><br />
  <button type="submit">Update user</button>
</form>
