<h1>Thêm user</h1>
<form action="/add" method="POST">
  Ma Mon Hoc: <input type="String" name="maMonHoc" /><br />
  Ten Mon Hoc: <input type="String" name="tenMonHoc" /><br />
  Mo Ta: <input type="String" name="moTa" /><br />
  <button type="submit">Thêm user</button>
</form>
